{% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - collapse_on_larger_devices: {Boolean} Collapse filtering/sorting into menu on larger devices when true

    Usage:
    {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, collapse_on_larger_devices: false %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else 
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}

<div class="box__product_count" >

  {%- if results.results_count -%}
  {{ 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count }}
  {%- elsif results.products_count == results.all_products_count -%}
  {{ 'products.facets.product_count_simple' | t: count: results.products_count }}
  {%- else -%}
  {{ 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count }}
  {%- endif -%}

</div>

<div class="facets-container" style="display: block;">
  {%- unless collapse_on_larger_devices -%}
    <facet-filters-form class="facets small-hide">
      <form id="FacetFiltersForm" class="facets__form">

        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}

        {% if enable_filtering %}
          <div id="FacetsWrapperDesktop" class="facets__wrapper">
            {% assign filter_order = 'Brand, Category, Condition, Size' | split: ", " %}
            {% assign size_filters = results.filters | where: "label", "Size" %}
          
            {%- for filter_label in filter_order -%}
              {% if filter_label != 'Size' %}
                {%- for regular_filter in results.filters -%}
                  <!-- order of filters is as follows: 'Brand, Category, Size, Condition' -->
                  {%- assign total_active_values = total_active_values | plus: regular_filter.active_values.size -%}
                  {% if regular_filter.label == filter_label %}
                    <details cid="Details-{{ forloop.index }}-{{ section.id }}" class="{{ regular_filter.label | escape }}-main-drop js-filter" data-index="{{ forloop.index }}">
                    <summary class="facets__summary caption-large focus-offset">
                      <div>
                      <span>{{- filter_label | escape }}</span>
                      {% render 'icon-caret' %}
                    </div>
                  </summary>
                  <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display">
                    <div class="facets__header">
                      <span class="facets__selected no-js-hidden">{{ 'products.facets.filters_selected' | t: count: regular_filter.active_values.size }}</span>
                      <facet-remove>
                        <a href="{{ regular_filter.url_to_remove }}" class="facets__reset link underlined-link">
                          {{ 'products.facets.reset' | t }}
                        </a>
                      </facet-remove>
                    </div>
                    <!-- create checkboxes for filter's active values -->
                    <ul class="facets__list list-unstyled" role="list">
                      {%- for value in regular_filter.values -%}
                        <li class="list-menu__item facets__item">
                          <label for="Filter-{{ regular_filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                            <input type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value }}"
                              id="Filter-{{ regular_filter.label | escape }}-{{ forloop.index }}"
                              {% if value.active %}checked{% endif %}
                              {% if value.count == 0 and value.active == false %}disabled{% endif %}
                            >
        
                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                            </svg>
        
                            <svg class="icon icon-checkmark"
                              width="1.1rem"
                              height="0.7rem"
                              viewBox="0 0 11 7"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
        
                              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
        
                            {{ value.label | escape }} ({{ value.count }})
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                  </details>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {%- endfor -%}
          {% else %}
            {%- assign total_active_values = total_active_values | plus: size_filters.first.active_values.size -%}
            <details cid="Details-{{ forloop.index }}-{{ section.id }}" class="{{ size_filters.first.label | escape }}-main-drop js-filter" data-index="{{ forloop.index }}">
              <summary class="facets__summary caption-large focus-offset">
                <div>
                  <span>Sizes</span>
                  {% render 'icon-caret' %}
                </div>
              </summary>
              {%- for size_filter in size_filters -%}
                <!-- order of filters is as follows: 'Brand, Category, Size, Condition' -->
                {%- assign total_active_values = total_active_values | plus: size_filter.active_values.size -%}
                <details cid="Details-{{ forloop.index }}-{{ section.id }}" class="{{ size_filter.label | escape }}-main-drop js-filter" data-index="{{ forloop.index }}">
                  <summary class="facets__summary caption-large focus-offset">
                    <div>
                      <span>{{- size_filter.label | escape }}</span>
                      {% render 'icon-caret' %}
                    </div>
                  </summary>
                  <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="facets__display">
                    <div class="facets__header">
                      <span class="facets__selected no-js-hidden">{{ 'products.facets.filters_selected' | t: count: size_filter.active_values.size }}</span>
                      <facet-remove>
                        <a href="{{ size_filter.url_to_remove }}" class="facets__reset link underlined-link">
                          {{ 'products.facets.reset' | t }}
                        </a>
                      </facet-remove>
                    </div>
                    <!-- create checkboxes for filter's active values -->
                    <ul class="facets__list list-unstyled" role="list">
                      {%- for value in size_filter.values -%}
                        <li class="list-menu__item facets__item">
                          <label for="Filter-{{ size_filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                            <input type="checkbox"
                              name="{{ value.param_name }}"
                              value="{{ value.value }}"
                              id="Filter-{{ size_filter.label | escape }}-{{ forloop.index }}"
                              {% if value.active %}checked{% endif %}
                              {% if value.count == 0 and value.active == false %}disabled{% endif %}
                            >
        
                            <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                              <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                            </svg>
        
                            <svg class="icon icon-checkmark"
                              width="1.1rem"
                              height="0.7rem"
                              viewBox="0 0 11 7"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg">
        
                              <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1"
                                stroke="currentColor"
                                stroke-width="1.75"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            </svg>
        
                            {{ value.label | escape }} ({{ value.count }})
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </div>
                </details>
              {%- endfor -%}
            </details>
          {% endif %}
        </div>
      </form>
    </facet-filters-form>
  {%- endif %}
</div>

<div class="box__filter_sortby">
  
  
  
  <facet-filters-form class="facets">
      <form id="FacetFiltersForm" class="facets__form">

        {%- if results.terms -%}
          <input type="hidden" name="q" value="{{ results.terms | escape }}">
          <input name="options[prefix]" type="hidden" value="last">
        {%- endif -%}
	<div class="facet-filters sorting caption">
      
        <div class="facet-filters__field">
          
          <div class="select">
            {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
            <select name="sort_by" class="facet-filters__sort select__select caption-large" id="SortBy" aria-describedby="a11y-refresh-page-message">
              {%- for option in results.sort_options -%}
              <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
              {%- endfor -%}
            </select>
            
            
            
          </div>
            
        </div>

        <noscript>
          <button type="submit" class="facets__button-no-js button button--tertiary">{{ 'products.facets.sort_button' | t }}</button>
        </noscript>
      
    </div>
        
    </form>
  </facet-filters-form>
  
  <ul class="custom__selectv2">
    {%- for option in results.sort_options -%}
    <li rel="{{ option.value | escape }}" {% if option.value == sort_by %}class="selected"{% endif %}>
      {{ option.name | escape }}
    </li>
    {%- endfor -%}
  </ul>
        
</div>